.icon-hover {
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.icon-hover:hover {
    color: darkgreen;
    height: 50;
    width: 50;
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}